<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>

    <h1>Here are the small projects I've done for practice</h1>

    <a href="https://boiling-headland-98052.herokuapp.com/">Todolist</a>
    <p>todolist that allows you to add/delete items and create new lists as you need by appending the list name after the url</p>
    <p>implemented with EJS,Node.js,mongoose/Atlas deployed with Heroku , Git</p>

    <a href="https://still-hamlet-07494.herokuapp.com/">newsletter sign up</a>
    <p>a single page that let the user sign up for the newsletter</p>
    <p>implemented with EJS,node.js, mailChimp WEB API , Git</p>

    <a href="https://orenlai.github.io/simon/">Simon</a>
    <p>my JQuery practice , deployed with github</p>

    <a href="https://orenlai.github.io/drumkit/">drumkit</a>
    <p>virtual drumkit, Javascript practice , deployed with github</p>

    <a href="https://orenlai.github.io/TinDog_bootstrap/">TinDog</a>
    <p>Bootstrap 5 practice website with the following features:Navbar carousel cards container..etc</p>

    <a href="https://orenlai.github.io/mysite/">MySite_css_practice</a>
    <p>my personal website implemented with pure CSS </p>

<%- include("partials/footer"); -%>
