<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <a href="https://www.linkedin.com/in/oren-lai-38149942/?locale=zh_TW">Oren Linkedin profile</a>
<%- include("partials/footer"); -%>
